Repository uxlfoundation/oneDPL, pull requests merged in 2024-09, with the labels that each got.

#1811 Fix return type of transform scan and copy if patterns
  include/oneapi/dpl/pstl/hetero/algorithm_ranges_impl_hetero.h
  include/oneapi/dpl/pstl/hetero/numeric_ranges_impl_hetero.h
Labels: bug

#1812 Bug fix for fwd definition of __compare in sycl_traits.h
  include/oneapi/dpl/pstl/hetero/dpcpp/sycl_traits.h
Labels: bug

#1809 [Tests] Consolidate "Latest" macros; update broken macros
  test/support/test_config.h
Labels: bug

#1457 [onedpl][ranges][productization] Range API productization, MVP plan, Part 1
  .github/workflows/ci.yml
  include/oneapi/dpl/algorithm
  include/oneapi/dpl/execution
  include/oneapi/dpl/internal/reduce_by_segment_impl.h
  include/oneapi/dpl/pstl/algorithm_impl.h
  include/oneapi/dpl/pstl/algorithm_ranges_impl.h
  include/oneapi/dpl/pstl/execution_defs.h
  include/oneapi/dpl/pstl/execution_impl.h
  include/oneapi/dpl/pstl/glue_algorithm_ranges_impl.h
  include/oneapi/dpl/pstl/glue_execution_defs.h
  include/oneapi/dpl/pstl/glue_numeric_ranges_impl.h
  include/oneapi/dpl/pstl/hetero/algorithm_ranges_impl_hetero.h
  include/oneapi/dpl/pstl/hetero/dpcpp/sycl_traits.h
  include/oneapi/dpl/pstl/hetero/dpcpp/utils_ranges_sycl.h
  include/oneapi/dpl/pstl/onedpl_config.h
  include/oneapi/dpl/pstl/ranges_defs.h
  include/oneapi/dpl/pstl/unseq_backend_simd.h
  include/oneapi/dpl/pstl/utils.h
  include/oneapi/dpl/pstl/utils_ranges.h
  test/general/implementation_details/device_copyable.pass.cpp
  test/parallel_api/ranges/std_ranges_adjacent_find.pass.cpp
  test/parallel_api/ranges/std_ranges_all_of.pass.cpp
  test/parallel_api/ranges/std_ranges_any_of.pass.cpp
  test/parallel_api/ranges/std_ranges_find.pass.cpp
  test/parallel_api/ranges/std_ranges_find_if.pass.cpp
  test/parallel_api/ranges/std_ranges_find_if_not.pass.cpp
  test/parallel_api/ranges/std_ranges_for_each.pass.cpp
  test/parallel_api/ranges/std_ranges_none_of.pass.cpp
  test/parallel_api/ranges/std_ranges_search.pass.cpp
  test/parallel_api/ranges/std_ranges_search_n.pass.cpp
  test/parallel_api/ranges/std_ranges_test.h
  test/parallel_api/ranges/std_ranges_transform.pass.cpp
  test/parallel_api/ranges/std_ranges_transform_iota.pass.cpp
  test/parallel_api/ranges/std_ranges_transform_iota_sycl.pass.cpp
  test/support/test_config.h
Labels: ready for test

#1825 Documentation improvements
  documentation/library_guide/api_for_sycl_kernels/random.rst
  documentation/library_guide/api_for_sycl_kernels/utility_function_object_classes.rst
  documentation/library_guide/introduction.rst
  documentation/library_guide/parallel_api/async_api.rst
  documentation/library_guide/parallel_api/execution_policies.rst
  documentation/library_guide/parallel_api/iterators.rst
  documentation/library_guide/parallel_api/pass_data_algorithms.rst
  documentation/library_guide/parallel_api_main.rst
Labels: documentation

#1837 [test] Use macro workaround to avoid calling vectorized MSVC algorithms from within a SYCL kernel
  test/xpu_api/containers/sequences/array/array.comparison/greater_g.pass.cpp
  test/xpu_api/containers/sequences/array/array.comparison/greater_or_equal_g.pass.cpp
  test/xpu_api/containers/sequences/array/array.comparison/less_g.pass.cpp
  test/xpu_api/containers/sequences/array/array.comparison/less_or_equal_g.pass.cpp
Labels: test

#1827 Fix `std::complex` broken tests
  test/support/test_complex.h
  test/support/test_config.h
  test/xpu_api/numerics/complex.number/complex.transcendentals/acos.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/acosh.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/exp.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/log.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/log10.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/tanh.pass.cpp
Labels: test

#1828 Created a new crosslink file to store versioned links.
  documentation/library_guide/cmake_support.rst
  documentation/library_guide/common_cross_document_links.txt
  documentation/library_guide/conf.py
  documentation/library_guide/introduction.rst
  documentation/library_guide/introduction/onedpl_gsg.rst
  documentation/library_guide/macros.rst
  documentation/library_guide/onedpl_gsg.rst
  documentation/library_guide/parallel_api/execution_policies.rst
Labels: documentation

#1838 [tests] Modify broken macros for fixed errors
  test/support/test_config.h
  test/xpu_api/numerics/complex.number/complex.transcendentals/acos.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/tanh.pass.cpp
Labels: test

#1840 [tests] Modify broken macros for fixed errors #1
  test/support/test_config.h
  test/xpu_api/numerics/complex.number/complex.transcendentals/exp.pass.cpp
Labels: test

#1826 Tune merge launch config
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_merge.h
Labels: enhancement

#1835 More documentation improvements
  documentation/library_guide/api_for_sycl_kernels/tested_standard_cpp_api.rst
  documentation/library_guide/common_cross_document_links.txt
  documentation/library_guide/introduction.rst
  documentation/library_guide/kernel_templates/esimd_main.rst
  documentation/library_guide/parallel_api/execution_policies.rst
  documentation/library_guide/parallel_api/pass_data_algorithms.rst
  documentation/library_guide/parallel_api_main.rst
  documentation/release_notes.rst
Labels: documentation

#1849 Fix warning and compilation errors
  include/oneapi/dpl/pstl/execution_impl.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_radix_sort_one_wg.h
Labels: bug

#1596 [onedpl][ranges][doc] + Range-based API description
  documentation/library_guide/api_for_sycl_kernels/utility_function_object_classes.rst
  documentation/library_guide/introduction.rst
  documentation/library_guide/kernel_templates_main.rst
  documentation/library_guide/macros.rst
  documentation/library_guide/parallel_api/additional_algorithms.rst
  documentation/library_guide/parallel_api/execution_policies.rst
  documentation/library_guide/parallel_api/iterators.rst
  documentation/library_guide/parallel_api/parallel_range_algorithms.rst
  documentation/library_guide/parallel_api/pass_data_algorithms.rst
  documentation/library_guide/parallel_api/range_based_api.rst
  documentation/library_guide/parallel_api_main.rst
Labels: documentation

#1854 [tests] Multiple translation units
  test/CMakeLists.txt
  test/general/multiple_translation_units/header_umbrella.h
  test/general/multiple_translation_units/multiple_translation_units.pass.cpp
  test/general/multiple_translation_units/translation_unit1.cpp
  test/general/multiple_translation_units/translation_unit2.cpp
Labels: test

#1855 Fix namespace lookup issues in <oneapi/dpl/random> header
  include/oneapi/dpl/internal/random_impl/philox_engine.h
  test/general/multiple_translation_units/header_umbrella.h
Labels: bug

#1852 Improve the tables of content
  documentation/index.rst
  documentation/library_guide/api_for_sycl_kernels_main.rst
  documentation/library_guide/dynamic_selection_api/policies.rst
  documentation/library_guide/dynamic_selection_api_main.rst
  documentation/library_guide/index.rst
  documentation/library_guide/kernel_templates/esimd_main.rst
  documentation/library_guide/kernel_templates_main.rst
  documentation/library_guide/parallel_api/async_api.rst
  documentation/library_guide/parallel_api_main.rst
Labels: documentation

#1865 [doc] Fix or remove outdated links to the oneDPL specification
  documentation/CHANGES.rst
  documentation/library_guide/introduction.rst
  documentation/library_guide/kernel_templates/esimd/radix_sort.rst
  documentation/library_guide/kernel_templates/esimd/radix_sort_by_key.rst
  documentation/library_guide/kernel_templates/kernel_configuration.rst
  documentation/library_guide/kernel_templates/single_pass_scan.rst
  documentation/release_notes.rst
Labels: documentation

#1866 [doc] Use code directives for code and literal blocks for output
  documentation/library_guide/dynamic_selection_api/auto_tune_policy.rst
  documentation/library_guide/dynamic_selection_api/dynamic_load_policy.rst
  documentation/library_guide/dynamic_selection_api/fixed_resource_policy.rst
  documentation/library_guide/dynamic_selection_api/functions.rst
  documentation/library_guide/dynamic_selection_api/policies.rst
  documentation/library_guide/dynamic_selection_api/round_robin_policy.rst
  documentation/library_guide/dynamic_selection_api_main.rst
  documentation/library_guide/introduction.rst
  documentation/library_guide/kernel_templates/esimd/radix_sort.rst
  documentation/library_guide/kernel_templates/esimd/radix_sort_by_key.rst
  documentation/library_guide/kernel_templates/single_pass_scan.rst
  documentation/library_guide/parallel_api/iterators.rst
Labels: documentation

#1868 Remove system requirements section for ESIMD-based KT
  documentation/library_guide/kernel_templates/esimd/radix_sort.rst
  documentation/library_guide/kernel_templates/esimd/radix_sort_by_key.rst
  documentation/library_guide/kernel_templates/esimd_main.rst
Labels: documentation

#1862 Release notes for 2022.7.0
  documentation/release_notes.rst
Labels: documentation

#1863 [RNG] A note about distributions that can't be used on GPUs not supporting FP64 precision
  documentation/library_guide/api_for_sycl_kernels/random.rst
Labels: documentation

#1873 [Test] Fix for ranges testing in multi translational units
  test/general/multiple_translation_units/header_umbrella.h
Labels: test
