Repository uxlfoundation/oneDPL, pull requests merged in 2025-06, with the labels that each got.

#2293 Fix return type in some test predicates
  test/parallel_api/ranges/std_ranges_test.h
  test/xpu_api/algorithms/alg.sorting/alg.binary.search/binary.search/binary_search2_g.pass.cpp
  test/xpu_api/algorithms/alg.sorting/alg.binary.search/equal.range/equal_range2_g.pass.cpp
Labels: test

#2295 Forward execution policy in test environment
  test/support/iterator_utils.h
  test/support/utils.h
  test/support/utils_invoke.h
  test/support/utils_sort.h
Labels: test

#2224 Convert lambdas in tests into functional objects in tests
  test/general/sycl_iterator/sycl_iterator_find.pass.cpp
  test/general/sycl_iterator/sycl_iterator_for.pass.cpp
  test/general/sycl_iterator/sycl_iterator_reduce.pass.cpp
  test/general/sycl_iterator/sycl_iterator_scan.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/alg.copy/copy_if.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/alg.partitions/is_partitioned.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/alg.partitions/partition.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/alg.partitions/partition_copy.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/alg.partitions/stable_partition.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/alg.reverse/reverse_copy.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/generate.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/remove.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/replace.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/replace_copy.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/swap_ranges.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/adjacent_find.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/all_of.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/any_of.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/count.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/find_if.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/for_each.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/none_of.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/nth_element.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.binary.search/binary.search/binary_search.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.binary.search/lower.bound/lower_bound.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.binary.search/upper.bound/upper_bound.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.set.operations/includes.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.set.operations/set_common.h
  test/parallel_api/algorithm/alg.sorting/partial_sort.pass.cpp
  test/parallel_api/algorithm/alg.sorting/partial_sort_copy.pass.cpp
  test/parallel_api/algorithm/alg.sorting/sort_by_key_common.h
  test/parallel_api/iterator/input_data_sweep.h
  test/parallel_api/iterator/permutation_iterator_parallel_find.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_for.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_merge.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_or.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_partial_sort.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_stable_sort.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_transform_reduce.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_transform_scan.pass.cpp
  test/parallel_api/iterator/zip_iterator_equal.pass.cpp
  test/parallel_api/iterator/zip_iterator_find.pass.cpp
  test/parallel_api/iterator/zip_iterator_for.pass.cpp
  test/parallel_api/iterator/zip_iterator_reduce.pass.cpp
  test/parallel_api/iterator/zip_iterator_scan.pass.cpp
  test/parallel_api/numeric/numeric.ops/reduce_by_segment.pass.cpp
  test/parallel_api/ranges/std_ranges_test.h
  test/support/utils.h
  test/xpu_api/algorithms/alg.nonmodifying/alg.all_of/xpu_all_of.pass.cpp
  test/xpu_api/algorithms/alg.nonmodifying/alg.any_of/xpu_any_of.pass.cpp
  test/xpu_api/algorithms/alg.nonmodifying/alg.count/xpu_count_if.pass.cpp
  test/xpu_api/algorithms/alg.nonmodifying/alg.find/xpu_find_if.pass.cpp
  test/xpu_api/algorithms/alg.nonmodifying/alg.none_of/xpu_none_of.pass.cpp
Labels: enhancement, test

#2311 Support `EXPECT_EQ` call for iterators
  test/support/utils.h
Labels: test

#2319 Workaround icpx incompatibility issues with VS 17.14
  .github/workflows/ci-testing.yml
Labels: test

#2314 Avoid implicit `class`/`struct` forward declarations in Kernel names
  test/general/dpl_namespace.pass.cpp
  test/general/lambda_naming.pass.cpp
  test/general/test_policies.pass.cpp
  test/parallel_api/algorithm/alg.sorting/sort_by_key_common.h
  test/parallel_api/experimental/asynch-scan.pass.cpp
  test/parallel_api/experimental/asynch.pass.cpp
  test/parallel_api/numeric/numeric.ops/exclusive_scan.pass.cpp
  test/parallel_api/numeric/numeric.ops/exclusive_scan_by_segment_perm_it.pass.cpp
  test/parallel_api/numeric/numeric.ops/exclusive_scan_by_segment_zip.pass.cpp
  test/parallel_api/numeric/numeric.ops/inclusive_scan_by_segment_zip.pass.cpp
  test/parallel_api/numeric/numeric.ops/reduce_by_segment.pass.cpp
  test/support/test_complex.h
  test/support/test_dynamic_load_utils.h
Labels: test

#2321 Release notes: correct sort issue description
  documentation/release_notes.rst
Labels: documentation

#2294 Replace `oneapi::dpl::__internal::__no_op` by `oneapi::dpl::identity`
  include/oneapi/dpl/experimental/kt/single_pass_scan.h
  include/oneapi/dpl/functional
  include/oneapi/dpl/internal/async_impl/glue_async_impl.h
  include/oneapi/dpl/internal/exclusive_scan_by_segment_impl.h
  include/oneapi/dpl/internal/inclusive_scan_by_segment_impl.h
  include/oneapi/dpl/pstl/algorithm_impl.h
  include/oneapi/dpl/pstl/functional_impl.h
  include/oneapi/dpl/pstl/glue_algorithm_ranges_impl.h
  include/oneapi/dpl/pstl/glue_numeric_impl.h
  include/oneapi/dpl/pstl/glue_numeric_ranges_impl.h
  include/oneapi/dpl/pstl/hetero/algorithm_impl_hetero.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_reduce.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_reduce_then_scan.h
  include/oneapi/dpl/pstl/hetero/dpcpp/unseq_backend_sycl.h
  include/oneapi/dpl/pstl/utils.h
  test/general/interface_check.pass.cpp
  test/parallel_api/iterator/input_data_sweep.h
  test/parallel_api/iterator/transform_iterator_constructible.pass.cpp
Labels: enhancement

#2323 CI: fix fpga emulator
  .github/workflows/ci-testing.yml
Labels: test

#2330 Fix kernel names in `struct __subgroup_radix_sort`
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_radix_sort_one_wg.h
Labels: bug

#2331 Fix warning in the `std_ranges_transform_iota_sycl.pass.cpp`
  test/parallel_api/ranges/std_ranges_transform_iota_sycl.pass.cpp
Labels: test
