Repository uxlfoundation/oneDPL, pull requests merged in 2025-03, with the labels that each got.

#2091 Fix constructors of two `__transform_if_`-functors
  include/oneapi/dpl/internal/async_impl/glue_async_impl.h
  include/oneapi/dpl/pstl/algorithm_ranges_impl.h
  include/oneapi/dpl/pstl/glue_algorithm_impl.h
  include/oneapi/dpl/pstl/hetero/algorithm_ranges_impl_hetero.h
  include/oneapi/dpl/pstl/utils.h
Labels: bug

#2094 Fix `sizeLimit` type in tests
  test/support/iterator_utils.h
Labels: bug

#2098 Restore std::move for constructors of `__transform_if_`-functors
  include/oneapi/dpl/internal/async_impl/glue_async_impl.h
  include/oneapi/dpl/pstl/algorithm_ranges_impl.h
  include/oneapi/dpl/pstl/glue_algorithm_impl.h
  include/oneapi/dpl/pstl/hetero/algorithm_ranges_impl_hetero.h
Labels: bug

#2077 Sort test: split and make it more flexible to reduce execution time
  test/parallel_api/algorithm/alg.sorting/alg.sort/sort.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.sort/sort_comp.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.stable.sort/stable_sort.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.stable.sort/stable_sort_comp.pass.cpp
  test/parallel_api/algorithm/alg.sorting/sort.pass.cpp
  test/support/test_config.h
  test/support/utils_sort.h
Labels: test

#2105 Fix unused variable and lambda capture warnings in device tests
  test/parallel_api/ranges/exclusive_scan_ranges_sycl.pass.cpp
  test/parallel_api/ranges/find_ranges_sycl.pass.cpp
  test/parallel_api/ranges/inclusive_scan_ranges_sycl.pass.cpp
  test/parallel_api/ranges/reduce_by_key_ranges_sycl.pass.cpp
  test/parallel_api/ranges/zip_view.pass.cpp
Labels: test

#2115 Fix policy forwarding for fpga histogram
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_fpga.h
Labels: bug

#2117 Improve warning parsing in CI
  .github/scripts/job_summary.py
Labels: test

#2116 Fix warnings in tests: unused variable, function, typedef
  test/parallel_api/algorithm/alg.modifying.operations/alg.partitions/is_partitioned.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/transform_binary.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/find.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/transform_if.pass.cpp
  test/parallel_api/algorithm/alg.sorting/partial_sort.pass.cpp
  test/parallel_api/dynamic_selection/test_auto_tune_policy_inline.pass.cpp
  test/parallel_api/iterator/iterators.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_stable_sort.pass.cpp
  test/parallel_api/numeric/numeric.ops/exclusive_scan_by_segment.pass.cpp
  test/parallel_api/numeric/numeric.ops/inclusive_scan_by_segment.pass.cpp
  test/parallel_api/ranges/std_ranges_copy.pass.cpp
  test/parallel_api/ranges/std_ranges_transform.pass.cpp
  test/support/test_dynamic_selection_utils.h
  test/support/test_offset_utils.h
  test/support/utils_sort.h
Labels: test

#2120 Fix int-in-bool-context warning in all_of test
  test/parallel_api/algorithm/alg.nonmodifying/all_of.pass.cpp
Labels: test

#2123 Fix int-in-bool-context warning in any_of and none_of
  test/parallel_api/algorithm/alg.nonmodifying/any_of.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/none_of.pass.cpp
Labels: test

#2127 Fix deprecated-copy-with-user-provided-copy warning
  include/oneapi/dpl/pstl/hetero/dpcpp/sycl_iterator.h
Labels: enhancement

#2015 RFC Move histogram CPU backend implementation to Supported
  rfcs/supported/algorithms_histogram_cpu_backends/README.md
Labels: RFC

#2119 Move min/max XPU tests into XPU folder
  test/xpu_api/algorithms/alg.sorting/alg.min.max/xpu_max.pass.cpp
  test/xpu_api/algorithms/alg.sorting/alg.min.max/xpu_max_comp.pass.cpp
  test/xpu_api/algorithms/alg.sorting/alg.min.max/xpu_max_init_list.pass.cpp
  test/xpu_api/algorithms/alg.sorting/alg.min.max/xpu_max_init_list_comp.pass.cpp
  test/xpu_api/algorithms/alg.sorting/alg.min.max/xpu_min.pass.cpp
  test/xpu_api/algorithms/alg.sorting/alg.min.max/xpu_min_comp.pass.cpp
  test/xpu_api/algorithms/alg.sorting/alg.min.max/xpu_min_init_list.pass.cpp
  test/xpu_api/algorithms/alg.sorting/alg.min.max/xpu_min_init_list_comp.pass.cpp
Labels: test

#2125 Fix missing-field-initializers warning
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl.h
Labels: enhancement

#2144 Remove unused code from `struct test_copy_if`
  test/parallel_api/iterator/transform_iterator.pass.cpp
Labels: test

#2145 Remove `invoke_if()` function in tests
  test/parallel_api/algorithm/alg.merge/inplace_merge.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/alg.copy/copy_if.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/alg.partitions/is_partitioned.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/alg.partitions/partition.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/alg.partitions/stable_partition.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/remove.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/replace.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/replace_copy.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/transform_binary.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/transform_unary.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/unique.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/find_end.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/find_first_of.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/find_if.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/for_each.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/nth_element.pass.cpp
  test/parallel_api/algorithm/alg.nonmodifying/search_n.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.heap.operations/is_heap.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.lex.comparison/lexicographical_compare.pass.cpp
  test/parallel_api/algorithm/alg.sorting/partial_sort_copy.pass.cpp
  test/support/utils.h
Labels: test

#2146 Remove `ExecutionPolicy` template param from internal oneDPL buffers
  include/oneapi/dpl/internal/exclusive_scan_by_segment_impl.h
  include/oneapi/dpl/internal/inclusive_scan_by_segment_impl.h
  include/oneapi/dpl/internal/reduce_by_segment_impl.h
  include/oneapi/dpl/internal/scan_by_segment_impl.h
  include/oneapi/dpl/pstl/algorithm_impl.h
  include/oneapi/dpl/pstl/hetero/algorithm_impl_hetero.h
  include/oneapi/dpl/pstl/hetero/algorithm_ranges_impl_hetero.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_histogram.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_merge_sort.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_radix_sort.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_reduce_by_segment.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_utils.h
  include/oneapi/dpl/pstl/hetero/numeric_impl_hetero.h
  include/oneapi/dpl/pstl/omp/parallel_scan.h
  include/oneapi/dpl/pstl/omp/util.h
  include/oneapi/dpl/pstl/parallel_backend_serial.h
  include/oneapi/dpl/pstl/parallel_backend_tbb.h
  include/oneapi/dpl/pstl/parallel_backend_utils.h
Labels: enhancement

#1999 RFC for "Passed Directly" Customization Point
  rfcs/proposed/iterators_pass_directly_customization/README.md
Labels: RFC
