Repository uxlfoundation/oneDPL, pull requests merged in 2025-05, with the labels that each got.

#2206 Resolve ambiguous return in `__red_by_seg_op` in SYCL backend
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl.h
  test/parallel_api/numeric/numeric.ops/reduce_by_segment_zip.pass.cpp
  test/support/utils.h
Labels: bug

#2216 Restore execution policy at mid-level (algorithm_impl)
  include/oneapi/dpl/pstl/algorithm_impl.h
  include/oneapi/dpl/pstl/numeric_impl.h
  include/oneapi/dpl/pstl/omp/parallel_scan.h
  include/oneapi/dpl/pstl/parallel_backend_serial.h
  include/oneapi/dpl/pstl/parallel_backend_tbb.h
Labels: enhancement

#2217 Fix a compile error with mismatching types in std::min
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_histogram.h
Labels: bug

#2037 [oneDPL][rfc][ranges] proposal for implementation of the second part of range based API for oneDPL
  rfcs/proposed/range_algorithms/README.md
Labels: RFC

#2225 Fix early memory deallocation in algorithm implementations
  include/oneapi/dpl/internal/binary_search_impl.h
  include/oneapi/dpl/pstl/hetero/algorithm_impl_hetero.h
  include/oneapi/dpl/pstl/hetero/algorithm_ranges_impl_hetero.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_utils.h
  include/oneapi/dpl/pstl/hetero/histogram_impl_hetero.h
  include/oneapi/dpl/pstl/hetero/numeric_impl_hetero.h
  include/oneapi/dpl/pstl/hetero/numeric_ranges_impl_hetero.h
Labels: bug

#2226 Fix scan kernel template
  include/oneapi/dpl/experimental/kt/single_pass_scan.h
Labels: bug

#2228 [Test] Balanced path tests fix
  test/general/implementation_details/balanced_path_unit_tests.pass.cpp
  test/support/test_config.h
Labels: test

#2080 Update the tested Standard C++ APIs for `libc++`
  documentation/library_guide/api_for_sycl_kernels/tested_standard_cpp_api.rst
Labels: documentation

#2232 Declare return type in the function `__future::__wait_and_get_value(...)`
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_utils.h
Labels: enhancement

#2212 Remove extra `__device_backend_tag` parameter from sycl-submitters and functions
  include/oneapi/dpl/experimental/kt/single_pass_scan.h
  include/oneapi/dpl/internal/scan_by_segment_impl.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_histogram.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_reduce.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_reduce_then_scan.h
Labels: enhancement

#2236 Update the feature test macro for parallel range algorithms
  documentation/library_guide/macros.rst
  documentation/library_guide/parallel_api/parallel_range_algorithms.rst
  include/oneapi/dpl/internal/version_impl.h
  test/parallel_api/ranges/std_ranges_test.h
Labels: documentation

#2239 Log exceptions from `get_test_queue()` into `std::cerr`
  test/support/utils_sycl.h
Labels: enhancement, test

#2248 CI: treat a subset of warnings as errors
  .github/workflows/ci-testing.yml
Labels: test

#2253 Fix warnings in the statistics tests
  test/xpu_api/random/statistics_tests/common_for_distributions.hpp
  test/xpu_api/random/statistics_tests/lognormal_distr_dp_portion_test.pass.cpp
  test/xpu_api/random/statistics_tests/normal_distr_dp_portion_test.pass.cpp
  test/xpu_api/random/unit_tests/philox_unit_test.pass.cpp
Labels: test

#2265 Fix unused-parameter warnings in device copyable test
  test/support/utils_device_copyable.h
Labels: test

#2264 Fix warning in tests: declaration of <x> hides global declaration
  test/parallel_api/algorithm/alg.modifying.operations/alg.partitions/is_partitioned.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/transform_binary.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.lex.comparison/lexicographical_compare.pass.cpp
  test/parallel_api/algorithm/alg.sorting/is_sorted.pass.cpp
  test/parallel_api/iterator/transform_iterator.pass.cpp
  test/parallel_api/ranges/exclusive_scan_ranges_sycl.pass.cpp
  test/parallel_api/ranges/inclusive_scan_ranges_sycl.pass.cpp
  test/parallel_api/ranges/is_sorted_ranges_sycl.pass.cpp
  test/parallel_api/ranges/is_sorted_until_ranges_sycl.pass.cpp
  test/parallel_api/ranges/minmax_ranges_sycl.pass.cpp
  test/parallel_api/ranges/reduce_ranges_sycl.pass.cpp
  test/parallel_api/ranges/stable_sort_ranges_sycl.pass.cpp
  test/parallel_api/ranges/transform_inclusive_scan_ranges_sycl.pass.cpp
  test/parallel_api/ranges/transform_reduce_ranges_sycl.pass.cpp
  test/support/utils.h
Labels: test

#2279 [Docs] Adding set algorithm known issue
  documentation/release_notes.rst
Labels: documentation

#2273 [docs] Indirectly device accessible update
  documentation/library_guide/introduction.rst
  documentation/library_guide/parallel_api/iterators.rst
  documentation/library_guide/parallel_api/pass_data_algorithms.rst
Labels: documentation

#2278 Indirectly Device Accessible RFC updates and moved to supported
  rfcs/proposed/iterators_pass_directly_customization/README.md
  rfcs/supported/indirectly_device_accessible/README.md
Labels: RFC

#2290 Remove extra `sycl::queue` instances on stack
  test/parallel_api/algorithm/alg.modifying.operations/shift_left_right.pass.cpp
  test/support/utils_sort.h
Labels: test
