Repository uxlfoundation/oneDPL, pull requests merged in 2025-02, with the labels that each got.

#2034 Bugfix to avoid `__out` for MSVC
  include/oneapi/dpl/pstl/algorithm_impl.h
Labels: bug

#2029 Fix error `aspect fp64 is not supported` in tests of `std::complex`
  test/support/test_complex.h
  test/xpu_api/numerics/complex.number/complex.transcendentals/acos.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/acosh.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/log.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/log10.pass.cpp
Labels: test

#2047 Fix exception `Required aspect fp64 is not supported on the device` in tests of `std::complex`
  documentation/library_guide/introduction.rst
  test/support/test_config.h
  test/xpu_api/numerics/complex.number/complex.transcendentals/acos.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/acosh.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/asin.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/asinh.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/log.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/log10.pass.cpp
  test/xpu_api/numerics/complex.number/complex.transcendentals/pow_scalar_complex.pass.cpp
Labels: test

#2050 Fix one more broken test case for std::exp(std::complex<double>)
  test/support/test_config.h
  test/xpu_api/numerics/complex.number/complex.transcendentals/exp.pass.cpp
Labels: test

#2054 Fix synchronization issues in radix sort and histogram
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_histogram.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_radix_sort_one_wg.h
  include/oneapi/dpl/pstl/hetero/dpcpp/sycl_defs.h
Labels: bug

#2061 Remove device selector as an argument to construct a policy
  documentation/library_guide/parallel_api/execution_policies.rst
Labels: documentation

#2065 Fix circular dependency between utils_ranges_sycl.h and ranges_defs.h
  include/oneapi/dpl/pstl/hetero/dpcpp/utils_ranges_sycl.h
Labels: bug

#2064 Describe the 'ONEDPL_SPEC_VERSION' macro in the library guide
  documentation/library_guide/macros.rst
Labels: documentation

#2051 Update C++ tested versions in documentation
  documentation/library_guide/api_for_sycl_kernels/tested_standard_cpp_api.rst
Labels: documentation

#1996 Report more warnings, summarize job output
  .github/scripts/job_summary.py
  .github/workflows/ci-testing.yml
Labels: enhancement, test

#2070 Fix various warnings in the library
  include/oneapi/dpl/pstl/algorithm_impl.h
  include/oneapi/dpl/pstl/algorithm_ranges_impl.h
  include/oneapi/dpl/pstl/hetero/algorithm_impl_hetero.h
  include/oneapi/dpl/pstl/hetero/algorithm_ranges_impl_hetero.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_merge.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_merge_sort.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_utils.h
  include/oneapi/dpl/pstl/hetero/dpcpp/utils_ranges_sycl.h
  include/oneapi/dpl/pstl/hetero/histogram_impl_hetero.h
  include/oneapi/dpl/pstl/hetero/numeric_impl_hetero.h
  include/oneapi/dpl/pstl/histogram_binhash_utils.h
  include/oneapi/dpl/pstl/parallel_backend_tbb.h
  include/oneapi/dpl/pstl/parallel_impl.h
Labels: enhancement

#2081 Range tests: scale sizes according to a policy
  test/parallel_api/ranges/std_ranges_test.h
  test/parallel_api/ranges/std_ranges_test_views.pass.cpp
  test/parallel_api/ranges/std_ranges_transform_iota.pass.cpp
  test/parallel_api/ranges/std_ranges_transform_iota_sycl.pass.cpp
Labels: test

#2084 Remove direct usage of `kernel_name` type
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_histogram.h
Labels: enhancement
