Repository uxlfoundation/oneDPL, pull requests merged in 2025-07, with the labels that each got.

#2333 Fix broken tests
  test/parallel_api/iterator/input_data_sweep.h
Labels: test

#2335 Add documentation for transform_iterator pitfall
  documentation/library_guide/parallel_api/iterators.rst
Labels: documentation

#2337 Fix crash in `asynch.pass` test
  test/parallel_api/experimental/asynch.pass.cpp
Labels: bug, test

#2338 Rename the name of execution policy parameter in tests
  test/general/test_policies.pass.cpp
  test/parallel_api/algorithm/alg.sorting/sort_by_key_common.h
  test/parallel_api/iterator/input_data_sweep_counting_iter.pass.cpp
  test/parallel_api/iterator/input_data_sweep_host_iter.pass.cpp
  test/parallel_api/iterator/input_data_sweep_sycl_iter.pass.cpp
  test/parallel_api/iterator/input_data_sweep_usm_allocator.pass.cpp
  test/parallel_api/iterator/input_data_sweep_usm_device.pass.cpp
  test/parallel_api/iterator/input_data_sweep_usm_shared.pass.cpp
  test/support/utils.h
  test/support/utils_invoke.h
Labels: test

#2102 Extend test coverage for different policy qualifiers
  test/general/implementation_details/test_policy_container.pass.cpp
  test/general/sycl_iterator/sycl_iterator_find.pass.cpp
  test/general/sycl_iterator/sycl_iterator_for.pass.cpp
  test/general/sycl_iterator/sycl_iterator_reduce.pass.cpp
  test/general/sycl_iterator/sycl_iterator_scan.pass.cpp
  test/general/sycl_iterator/sycl_iterator_sort.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/fill.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/rotate.pass.cpp
  test/parallel_api/algorithm/alg.modifying.operations/shift_left_right.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.binary.search/binary.search/binary_search.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.binary.search/lower.bound/lower_bound.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.binary.search/upper.bound/upper_bound.pass.cpp
  test/parallel_api/algorithm/alg.sorting/alg.set.operations/set_common.h
  test/parallel_api/algorithm/alg.sorting/partial_sort.pass.cpp
  test/parallel_api/algorithm/alg.sorting/sort_by_key_common.h
  test/parallel_api/experimental/asynch-scan.pass.cpp
  test/parallel_api/experimental/asynch.pass.cpp
  test/parallel_api/experimental/for_loop.pass.cpp
  test/parallel_api/experimental/for_loop_induction.pass.cpp
  test/parallel_api/iterator/indirectly_device_accessible.pass.cpp
  test/parallel_api/iterator/input_data_sweep.h
  test/parallel_api/iterator/input_data_sweep_counting_iter.pass.cpp
  test/parallel_api/iterator/input_data_sweep_host_iter.pass.cpp
  test/parallel_api/iterator/input_data_sweep_sycl_iter.pass.cpp
  test/parallel_api/iterator/input_data_sweep_usm_allocator.pass.cpp
  test/parallel_api/iterator/input_data_sweep_usm_device.pass.cpp
  test/parallel_api/iterator/input_data_sweep_usm_shared.pass.cpp
  test/parallel_api/iterator/permutation_iterator.h
  test/parallel_api/iterator/permutation_iterator.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_find.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_for.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_merge.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_or.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_partial_sort.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_stable_sort.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_transform_reduce.pass.cpp
  test/parallel_api/iterator/permutation_iterator_parallel_transform_scan.pass.cpp
  test/parallel_api/iterator/transform_iterator.pass.cpp
  test/parallel_api/iterator/zip_iterator_equal.pass.cpp
  test/parallel_api/iterator/zip_iterator_find.pass.cpp
  test/parallel_api/iterator/zip_iterator_for.pass.cpp
  test/parallel_api/iterator/zip_iterator_merge.pass.cpp
  test/parallel_api/iterator/zip_iterator_reduce.pass.cpp
  test/parallel_api/iterator/zip_iterator_scan.pass.cpp
  test/parallel_api/iterator/zip_iterator_sort.pass.cpp
  test/parallel_api/numeric/numeric.ops/exclusive_scan.pass.cpp
  test/parallel_api/numeric/numeric.ops/exclusive_scan_by_segment.pass.cpp
  test/parallel_api/numeric/numeric.ops/exclusive_scan_by_segment_perm_it.pass.cpp
  test/parallel_api/numeric/numeric.ops/exclusive_scan_by_segment_zip.pass.cpp
  test/parallel_api/numeric/numeric.ops/inclusive_scan_by_segment.pass.cpp
  test/parallel_api/numeric/numeric.ops/inclusive_scan_by_segment_zip.pass.cpp
  test/parallel_api/numeric/numeric.ops/reduce.pass.cpp
  test/parallel_api/numeric/numeric.ops/reduce_by_segment.pass.cpp
  test/parallel_api/numeric/numeric.ops/reduce_by_segment_zip.pass.cpp
  test/parallel_api/numeric/numeric.ops/scan_2.pass.cpp
  test/support/test_config.h
  test/support/utils.h
  test/support/utils_invoke.h
Labels: enhancement, test

#2351 Rename `__item_id` parameter into `__item` in sycl-submitters
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_for.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_merge.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_merge_sort.h
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_reduce.h
  include/oneapi/dpl/pstl/hetero/dpcpp/unseq_backend_sycl.h
Labels: enhancement

#2350 Correct block size calculation in SYCL backend reduce-then-scan for unique pattern
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl_reduce_then_scan.h
Labels: bug

#2358 Fix performance issue of `parallel_find_or` - 2-Kernels approach
  include/oneapi/dpl/pstl/hetero/dpcpp/parallel_backend_sycl.h
Labels: bug

#2301 RFC for Kernel Templates
  rfcs/experimental/kernel_templates/README.md
  rfcs/experimental/kernel_templates/kernel_configuration/README.md
Labels: RFC
